<% content_for :title, 'Listing templates' %>

<table class="table table-hover table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td><%= template.name %></td>
    <td><%= template.description %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) if permitted_to?(:update, template, context: :templates) %></td>
    <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } if permitted_to?(:destroy, template, context: :templates) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_template_path %>
